div.cont{
    width: 100%;
    height: 100%;
}
div.div_middle1 {
    width: 60%;
    height: 800px;
    background-color: #9bfaff;
    /* overflow: auto;当内容溢出时添加滚动条 */
    overflow: auto;
    /* margin: auto;使div块居中显示 */
    margin: auto;
}

/*form表单文本居中*/
form.text_center{
    text-align: center;
}